.card-hotel {
  &__image {
    max-width: 1040px;
    min-height: 553px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    object-fit: cover;
  }

  &__box {
    width: 250px;
    height: 250px;
    margin-left: 32px;
    margin-bottom: 33px;
    padding: 45px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF200;
    opacity: 0.7;
    border-radius: 150px;
  }

  &__tour {
    width: 169px;
    height: 158px;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
    @extend %trebuchetMS-700;
  }

  &__title-tour {
    display: flex;
    flex-direction: column;
      padding-bottom: 10px;
  }

  &__code-tour {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    font-size: 14px;
  }

  &__label {
    margin-bottom: 5px;
  }

  &__code {
    width: 108px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: black;
    color: white;
  }

  &__inner {
    display: flex;
  }

  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
      padding-right: 3px;
    }
}