.card-service {
  &:not(:last-child){
    margin-right: 10px;
    }

  &__box {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    line-height: 0.9;
  }

  &__img {
    margin-bottom: 24px;
  }

  &__title {
    &:hover {
      color: red;
      border-color: #CB0000;
    }
  }

  &__text {
    margin-top: 10px;
    margin-left: 2px;
  }

  &__discount {
    margin-top: 5px;
    margin-right: 2px;
    font-size: 18px;
    color: red;
  }
}