.card-service {
  @include _600 {
    margin-bottom: 30px;
  }

  &:not(:last-child) {
    margin-right: 10px;

    @include _600 {
      margin-right: 0;
    }
  }

  &__box {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    line-height: 0.9;
  }

  &__img {
    margin-bottom: 24px;
    object-fit: cover;
  }

  &__title {
    &:hover {
      color: red;
      border-color: #cb0000;
    }
  }

  &__text {
    margin-top: 10px;
    margin-left: 2px;
  }

  &__discount {
    margin-top: 5px;
    margin-right: 2px;
    font-size: 18px;
    color: red;
  }
}
