.card-hotel {

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    max-width: 1040px;
    min-height: 553px;
    margin-bottom: 23px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    object-fit: cover;
  }

  &__box {
    width: 250px;
    height: 250px;
    margin-left: 32px;
    margin-bottom: 33px;
    padding: 45px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF200;
    opacity: 0.7;
    border-radius: 150px;
  }

  &__tour {
    width: 169px;
    height: 158px;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
    @extend %trebuchetMS-700;
  }

  &__title-tour {
    display: flex;
    flex-direction: column;
      padding-bottom: 10px;
  }

  &__code-tour,
  &__ratinghotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    font-size: 14px;
  }

  &__label {
    margin-bottom: 5px;
  }

  &__code {
    width: 108px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: black;
    color: white;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__cost {
    min-width: 562px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
     @extend %trebuchetMS-700;
  }

  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
      padding-right: 3px;
  }

  &__sunday {
    max-width: 160px;
    margin-top: -40px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    line-height: 1;
  }

  &__day {
    font-size: 88px;
    font-weight: bold;
    color: gray;
    @extend %trebuchetMS-700;
  }

  &__averagenum {
    width: 52px;
    height: 52px;
    background-color: #00BFF3;
  }
}