.footer {
  &__content {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #777777;

    @include _600 {
      justify-content: center;
    }
  }

  &__link {
    color: #00bff3;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;

    &:hover {
      border-color: rgba(0, 191, 243, 0.25);
    }
  }
}
