.backcall {
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__label {
    width: 100%;
    max-width: 260px;
    display: flex;
    justify-content: space-between;
  }
}