<div id="backcall" class="modal-box">

  <div class="backcall">

    <span class="modal-title">

      Обратный звонок

    </span>

    <form class="backcall__form" action="#">

      <label for="call-n" class="backcall__label">

        Имя

        <input id="call-n" class="backcall__input" type="name" name="name" required>

      </label>

      <label for="log-u" class="backcall__label">

        Tелефон

        <input id="log-u" class="backcall__input" type="phone" name="phone" required>

      </label>

      <div class="login__inner-btn">

        <button class="login__btn" type="submit">

          Войти

        </button>

        <a class="login__btn login__btn--create" href="registration.html">

          Регистрация

        </a>

      </div>

    </form>

  </div>

</div>