<div id="backcall" class="modal-box">

  <div class="backcall">

    <span class="modal-title">

      Обратный звонок

    </span>

    <form class="backcall__form" action="#">

      <label for="call-n" class="backcall__label">

        Имя

        <input id="call-n" class="backcall__input" type="name" name="name" required>

      </label>

      <label for="log-u" class="backcall__label">

        Tелефон

        <input id="log-u" class="backcall__input" type="phone" name="phone" required>

      </label>

      <button class="backcall__btn" type="submit">

        Заказать обратный звонок

      </button>

    </form>

  </div>

</div>