<div id="backcall" class="modal-box">

  <div class="backcall">

    <span class="modal-title">

      Обратный звонок

    </span>

    <form class="login__form" action="#">

      <label for="log-u" class="login__label">

        Tелефон

        <input id="log-u" class="login__input" type="email" name="email" required>

      </label>

      <label for="log-p" class="login__label">

        Пароль

        <input id="log-p" class="login__input" type="password" name="password" required>

      </label>

      <div class="login__inner-btn">

        <button class="login__btn" type="submit">

          Войти

        </button>

        <a class="login__btn login__btn--create" href="registration.html">

          Регистрация

        </a>

      </div>

      <div class="login__inner-box">

        <div class="login__label-box">

          <label for="check-r" class="login__label login__label--box">

            <input id="check-r" class="login__input-checkbox" type="checkbox" name="checkbox">

            Запомнить меня

          </label>

        </div>

        <a class="login__error" href="recovery.html">

          Забыли пароль?

        </a>

      </div>

    </form>

  </div>

</div>