<article class="card-service">

  <img class="card-service__img" src="images/content/services/1.jpg" alt="images services">

  <div class="card-service__box">

    <a class="title">

      Шелковый путь

    </a>

    <span class="title">

      $158

    </span>

  </div>

  <span class="card-service__text">

    Экстремальный маршрут

  </span>

</article>

<article class="card-service">

  <img class="card-service__img" src="images/content/services/2.jpg" alt="images services">

  <div class="card-service__box">

    <a class="title">

      Роупджампинг

    </a>

    <span class="title">

      $158

    </span>

  </div>

  <span class="card-service__text">

    Экстремальный маршрут

  </span>

</article>