<article class="card-hotel" href="#">

  <div class="card-hotel__image">

    <img class="card-hotel__img" src="../images/content/card-hotelbg.jpg" alt="card hotel images">

    <div class="card-hotel__box">

      <div class="card-hotel__tour">

        <div class="card-hotel__title-tour">

          <span class="card-hotel__text">
            Тур
          </span>

          <span class="card-hotel__text">
            в Созополь, Болгария
          </span>

        </div>


        <div class="card-hotel__code-tour">

          <label class="card-hotel__label">
            код тура
          </label>

          <span class="card-hotel__code">

            3094119

          </span>

        </div>

      </div>

    </div>

  </div>

  <div class="card-hotel__content">

    <div class="card-hotel__inner">

      <div class="card-hotel__cost">

        <span class="title card-hotel__title">

          Aquamarine hotel

        </span>

        <div class="star" data-rateyo-rating="3"></div>

        <span class="price">

          $256

        </span>

      </div>

      <div class="card-hotel__rating">

        <div class="card-hotel__ratinghotel">

          <span>

            Оценка отеля

          </span>

          <span>

            <strong>
              45 отзывов
            </strong>

          </span>

        </div>

        <div class="card-hotel__averagenum">

          8.4

        </div>

        <div class="card-hotel__service">

          <ul class="card-hotel__list">

            <li class="card-hotel__item">

              Номер

              <div class="card-hotel__item-num">
                8.9
              </div>

            </li>

            <li class="card-hotel__item">

              Питание

              <div class="card-hotel__item-num">
                8.1
              </div>

            </li>

            <li class="card-hotel__item">

              Сервис

              <div class="card-hotel__item-num">
                7.9
              </div>

            </li>

            <li class="card-hotel__item">

              Инфраструктура

              <div class="card-hotel__item-num">
                8.9
              </div>

            </li>

          </ul>

        </div>

      </div>

    </div>

    <div class="card-hotel__sunday">

      <span class="card-hotel__day">

        320

      </span>

      солнечных дней в году

    </div>

  </div>


</article>