<footer class="footer">

  <div class="container">

    <div class="footer__top">

      <address class="contact">

        <a class="logo footer__logo" href="#body">

          <img class="logo__img" src="images/logo.png" alt="logo">

        </a>

        <a class="contact__text contact__text--address" href="#">

          <span class="contact__title">
            Address:
          </span>

          4772 Wines Lane
          Houston, TX 77032
        </a>

        <a class="contact__text" href="tel:+8323475843">

          <span class="contact__title">
            Telephone:
          </span>

          +832-347-5843
        </a>

        <a class="contact__text" href="mailto:contact@Glee.com">

          <span class="contact__title">
            Email:
          </span>

          contact@Glee.com</a>
      </address>

      <div class="footer__item footer__item--links">

        <p class="footer__title box-limit">
          <span class="uppercase">
            Services
          </span>
        </p>

        <ul class="footer__list">

          <li class="footer__item">

            <a class="footer__link" href="about.html">
              About us
            </a>

          </li>

          <li class="footer__item">

            <a class="footer__link" href="#">
              Return Policy
            </a>

          </li>

          <li class="footer__item">

            <a class="footer__link" href="#">
              Our Blog
            </a>

          </li>

          <li class="footer__item">

            <a class="footer__link" href="#">
              Contact Us
            </a>

          </li>

          <li class="footer__item">

            <a class="footer__link" href="terms.html">
              Terms & Condition
            </a>

          </li>

        </ul>

      </div>

      <div class="footer__item footer__item--links">

        <p class="footer__title">
          <span class="uppercase">Account</span>
        </p>

        <ul class="footer__list">

          <li class="footer__item">

            <a class="footer__link" href="#">
              Your Account
            </a>

          </li>

          <li class="footer__item">

            <a class="footer__link" href="#">
              Checkout
            </a>

          </li>

          <li class="footer__item">

            <a class="footer__link" href="login.html">
              Login
            </a>

          </li>

          <li class="footer__item">

            <a class="footer__link" href="#">
              Register
            </a>

          </li>

        </ul>

      </div>

      <div class="footer__item footer__item--form">

        <p class="footer__title">
          <span class="uppercase">Newsletter</span>
        </p>

        <p class="footer__text box-hiden">
          Subscribe by our newsletter and get
          update protidin.
        </p>

        <form class="footer__form" action="#">
          <label for="subs-e" class="footer__label">Email address</label>
          <input id="subs-e" class="footer__form-input" type="email" name="email" placeholder="Email address" required>

          <button class="footer__form-btn" type="submit">Subscribe</button>

        </form>

      </div>

    </div>

    <div class="footer__bottom">

      <p class="footer__copy">
        ©2020 CopyRight Example. All rights reserved.
      </p>

      <div class="footer__menu footer-menu">

        <ul class="footer-menu__list">

          <li class="footer-menu__item">

            <a class="footer-menu__link" href="index.html">
              Home
            </a>

          </li>

          <li class="footer-menu__item">

            <a class="footer-menu__link" href="about.html">
              About
            </a>

          </li>

          <li class="footer-menu__item">

            <a class="footer-menu__link" href="#">
              Blog
            </a>

          </li>

          <li class="footer-menu__item">

            <a class="footer-menu__link" href="#">
              Contact
            </a>

          </li>

        </ul>

      </div>

    </div>

  </div>

</footer>