<header class="header">

  <div class="container">

    <div class="header__wrapper">

      <div class="header__inner">

        <a class="logo" href="#body">

          <img class="logo__img" src="/images/logo.png" alt="logo image">

        </a>

        <div class="header__title">

          Сеть турагенств «Солнце в кругу»

        </div>

      </div>

      <div class="header__inner">

        <a class="header__link" href="tel:+38044 123-45-67">
          044 123-45-67
        </a>

        <button class="header__btn">
          обратный звонок
        </button>

        @@include('../components/_social-list.html')

      </div>

    </div>

  </div>

</header>