<ul class="social">

  <li class="social__item">

    <a class="social__link" href="#">

      <svg class="social__icon">
        <use xlink:href="images/sprite.svg#facebook"></use>
      </svg>

    </a>

  </li>

  <li class="social__item">

    <a class="social__link" href="#">

      <svg class="social__icon">
        <use xlink:href="images/sprite.svg#googleplus"></use>
      </svg>

    </a>

  </li>

  <li class="social__item">

    <a class="social__link" href="#">

      <svg class="social__icon">
        <use xlink:href="images/sprite.svg#instagram"></use>
      </svg>

    </a>

  </li>

</ul>