
%arial-400 {
  font-family: "Arial-Regular", sans-serif;
  font-weight: 400;
}

%arial-700 {
  font-family: "Arial-bold", sans-serif;
  font-weight: 700;
}

%trebuchetMS-700 {
  font-family: "TrebuchetMS-bold", sans-serif;
  font-weight: 700;
}