@import 'vars';  //переменные для цвета для шрифта
@import 'fonts'; // подключение шрифтов
@import 'reset'; //сброс всех стилей
@import 'global'; // подключение глобальных стилей типо reset.css, то что на body для сылок
@import 'media'; // адаптив
